
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 0.5px solid #08152d24;
    height: 6rem;
    .subnav
    {
        display: flex;
        width: 40%;
        justify-content: space-between;
        p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #08152D;
            margin-bottom: 0;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
            &:hover{
                font-size: 20px;
            }
        }
        label{
            width: 134px;
    height: 35.79px;
    left: 1206px;
    top: 32px;

    background: #FFFFFF;
    border: 0.5px solid #08152D;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #08152D;
    justify-content: center;
    margin-bottom: 0;
    transition: all ease-in-out 0.3s;
    &:hover{
        font-size: 16px;
    }
        }
    }
}